<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- 🎯 PUSH NOTIFICATION DEEP LINK: Associated domains for universal links -->
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:capapp.co</string>
	</array>
</dict>
</plist>